@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");



:root {
  --main: #032541;
  --main-bg-color: #303030;
  --main-acc-color: #e6b31e;
  --auth-main-color: #2196f3;
  --auth-acc-color: #f32121;
}

body {
  margin: 0;
  padding: 0;
}