.container {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1d253a;
    padding: 15px;
    border-radius: 10px;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn_submit {
        padding: 10px 15px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: white;
        background-color: #2195f3c6;
    }

    .btn_submit:hover {
        background-color: var(--auth-main-color);
        box-shadow: 0 0 10px var(--auth-main-color), 0 0 20px var(--auth-main-color), 0 0 40px var(--auth-main-color);
    }
}

.tab-panel {
    display: flex;
    flex-direction: column;
}