.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: #fff;
}

.banner {
    // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("./assets/banner_image.jpg");
    background-position: 20% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    max-height: 360px;
    max-width: 1300px;
    width: 100%;
    height: calc(100vh / 2.5);
    display: flex;
    align-items: center;
    justify-content: center;


    .content {
        margin-bottom: 20px;
        width: 100%;
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        padding: 30px 60px;
        text-shadow: 1px 1px 5px var(--main-bg-color);

        h2 {
            font-size: 3em;
            font-weight: 700;
            line-height: 1;
            margin: 0;
        }

        h3 {
            font-size: 2em;
            font-weight: 600;
            margin: 0;
        }
    }
}

@media (max-width: 400px) {
    .banner {
        max-height: none;
        height: auto;
    }
}




.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1300px;
    width: 100%;


    .content_wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;

        .row_header {
            font-family: "Source Sans Pro", sans-serif;
            padding-left: 40px;
            padding-right: 40px;

            h2 {
                font-size: 1.5em;
                font-weight: 600;
                margin: 0;
            }
        }

        .cards {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: flex-start;

            .cards_content {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding-top: 20px;
                padding-bottom: 20px;
                overflow-x: scroll;
                overflow-y: hidden;
                transition: height 0.5s linear;
                font-family: "Source Sans Pro", sans-serif;
                width: 100%;
                max-width: 1300px;

                &::-webkit-scrollbar {
                    height: 8px;
                    width: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgb(219, 219, 219);
                    border-radius: 30px;
                }
            }
        }
    }
}